.breadcrumb{
  margin-top: 70px;
  padding: 15px 15px;
  font-size: 18px;
}
.breadcrumb a{
  color: black;
}
.cartForPC {
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
}
.empty-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.empty-product .empty-product_title {
  font-weight: bold;
  margin-bottom: 20px;
  user-select: none;
}
.empty-product .empty-product_image {
  width: 70%;
  height: 50%;
}
.empty-product .empty-product_button {
  border: none;
  text-decoration: none;
  padding: 12px 60px;
  border-radius: 25px;
  margin-top: 12px;
  color: #fff;
  background-color: #218837c5;
  transition: all 0.3s ease;
}
.empty-product .empty-product_button:hover {
  background-color: #218838;
  box-shadow: 0 0 8px 1px rgba(72, 180, 97);
  cursor: pointer;
}
.grid-five-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.3fr;
    text-align: center;
    align-items: center;
  }

.btn-quantity {
    font-size: 25px;
     padding: 15px;
    margin-left: -30px;
    cursor: pointer;
}

.cart-image-name {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    text-transform: capitalize;
    text-align: left;

    .color-div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;

      .color-style {
        width: 1rem;
        height: 1rem;
        margin-bottom: 16px;
        border-radius: 50%;
        border: #000 1px solid;
      }

    }
}

img {
    object-fit: contain;
    color: transparent;
  }

.color-div span {
    margin-bottom: 16px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.cart-heading {
  padding-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
}

.delete-btn {
    color: #ff0000;
    cursor: pointer;
}


.cart-two-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
.cart-two-button .btn-pay {
  border-radius: 20px;
  padding: 12px 36px;
  background-color: #47474c;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  }
.cart-two-button .btn-pay:hover {
    background-color: #2c2c30;
    box-shadow: 0 0 8px 1px #2c2c30a2;
}

.cart-two-button .btn-clear {
  border-radius: 20px;
  padding: 12px 36px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.cart-two-button .btn-clear:hover {
    background-color: #ff0000;
    box-shadow: 0 0 8px 1px #ff00007e;
}
.cartForMobile{
  display: none;
  border-radius: 4px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.cartItemInfor{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.cartItemTotal{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.cartItem-Mobile img{
  width: 100px;
  height: 100px;
}
.cartItemPriceTotal{
  margin-top: 8px;
}
.cartForMobile span{
  font-style: italic;
  color: #ccc;
}

@media only screen and (min-width: 46.25em) and (max-width: 64.2em) {

}
@media only screen and (max-width: 46.1875em)
{
  .cartForPC{
    display: none;
  }
  .cartForMobile{
    display: block;
  }
  .main-container {
    width: 95% !important;
  }

}