/* Snowflakes.css */
.snowflake {
    position: fixed;
    top: -10px;
    color: #dddcdc;
    user-select: none;
    z-index: 9999;
    opacity: 0;
    animation-name: snowfall, drift;
    animation-timing-function: linear;
  }
  
  @keyframes snowfall {
    0% {
      top: -10%;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0.2;
    }
  }
  
  @keyframes drift {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50px); /* Điều chỉnh giá trị này để thay đổi độ nghiêng của chuyển động */
    }
  }
  