.slider-christmas {
    margin-top: 60px;
    width: 100%;
    height: 640px;
    display: block;
    position: relative;
    overflow: hidden;
}
.slider-christmas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}