#christmas.footer {
    display: flex;
    flex-direction: column;
}
#christmas .footer_infor {
    background: url("../Images/banner/bannerChristmas.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#christmas .footer,
#christmas .footer_copyright {
    border-top: solid 1px rgba(125, 125, 125, 0.5);
}
#christmas .footer_copyright p{
    font-size: 18px;
}
#christmas .footer a {
    padding: 0;
}
#christmas .name {
    padding: 0 0 8px;
    font-weight: bold;
    font-size: 24px;
}
#christmas .footer_infor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    padding: 4px 36px;
    text-align: justify;
    line-height: 1.6;
}
#christmas .footer_infor a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
#christmas .footer_infor a:hover{
    text-decoration: none;
}
#christmas .logo-footer{
    margin-left: 24px;
}
#christmas .footer__infor-logo img{
    height: 55px;
    border: 1px solid transparent;
}
#christmas .footer__infor-logo h2 {
    color: darkblue;
}
#christmas .footer__infor-logo form input[type="Email"] {
    background-color: #ccc;
    width: 80%;
}
#christmas .footer__infor-logo form input{
    border-radius: 8px;
    padding: 8px;
    border: 0;
}
#christmas .footer__infor-logo form input[type="Submit"] {
    background-color: #5A82E7;
    margin-left: 8px;
    color: white;
}
#christmas .footer__infor-logo form {
    display: flex;
}
#christmas .footer__infor-logo form,
#christmas .footer__infor-logo .name {
    padding: 0 24px;
}
#christmas .social-icon{
    display: inline-flex;
    padding: 16px 24px 0;
    justify-content: space-between;
}
#christmas .social-icon img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
#christmas .footer-infor-mobile{
    display: none;
}
#christmas .accordion-body{
    text-align: center;
    padding: 0 8px;
    font-size: 18px;
}
#christmas .accordion-item:first-child .accordion-body{
    text-align: justify;
}
@media only screen and (min-width: 46.25em) and (max-width: 64.2em) {
    #christmas .footer_infor {
        grid-template-columns: repeat(2, 1fr);
    }
    #christmas .footer__infor-link{
        padding: 4px 24px;
        margin-bottom: 32px;
    }
}
@media only screen and (max-width: 46.1875em)
{
    #christmas .footer_infor{
        display: none;
    }
    #christmas .footer-infor-mobile{
        display: block;
    }
    #christmas .footer{
        margin-top: 20px;
    }
    #christmas .accordion-header button {
        font-size: 18px !important;
    }
}
